{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title"}}</title>

    <style>
      body {
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f9fafb;
        color: #1f2937;
      }

      .layout {
        display: grid;
        min-height: 100dvh;
        grid-template-rows: auto 1fr auto;
      }

      main {
        max-width: 100%;
        margin: 10px;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div class="layout">
      <!-- HEADER -->
      {{template "header" .}}

      <!-- MAIN CONTENT -->
      <main>
        {{block "content" .}}
        <p>No hay content</p>
        {{end}}
      </main>

      <!-- FOOTER-->
      {{template "footer"}}
    </div>
  </body>
</html>
{{end}}
